@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

body {
    background: #071E22;
}

/* .video-container {
    position: relative;
    z-index: -10;
} */
h1,
select,
li {
    color: #071E22;
}

h1#title-header {
    text-align: center;
    font-size: 4em;
    text-decoration: underline;
    color: #F4C095;
}

.container {
    border: 5px solid;
    background: #1D7874;
    height: 50vh;
    width: 50vw;
    margin: 5vh auto;
    padding: 1em;
 
}

.days-container {
    background: #679289;
    height: 30vh;
    width: 47.7vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

select {
    background: peachpuff;
    font-weight: bold;
}

#days-of-the-month {
    border: red;
}

ul {
    list-style-type: none;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

li {
    background: #EE2E31;
    border: 2px solid black;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}